@charset "utf8";

.amber-background {
	background-color: #FF7E00;
}

.black-background {
	background-color: #000000;
}

.cyan-background {
	background-color: #00AAAA;
}

.gray-background {
	background-color: #AAAAAA;
}

.green-background {
	background-color: #00FF00;
}

.magenta-background {
	background-color: #AA00AA;
}

.white-background {
	background-color: #FFFFFF;
}
