/*Fonts*/
@font-face{
    font-family: "Pixel LCD";
    src: url("../font/pixellcd7.ttf");
}

@font-face{
    font-family: "TechMono";
    src: url("../font/techmono.ttf");
}

/*Effects*/
.glow{
    text-shadow: 0 0 12px currentColor;
}

/*Text Styles*/
.center{
    text-align: center;
}
.monospace{
    font-family: "Lucida Console", monospace;
}
.sans{
    font-family: sans;
}
.pixel{
    font-family: "Pixel LCD";
}
.green{
    color: #00FF00;
}
.small{
    font-size: small;
}

/*Image Styles*/
img.small{
    height: 25%;
    width: 25%;
}
img.icon{
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
    height: 32px;
    width: 32px;
}
img.center{
    display: block;
    margin: auto;
}

/*Placement*/
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

/*Element Styles*/
body{
    background: black no-repeat fixed;
    color: #00FF00;
}
div.navbar{
    position: fixed;
    background: inherit;
    clear: both;
    top: 0;
    left: 0;
    font-size: small;
    z-index: 1000;
    width: 100%;
}
div.transbox{
    display: inline-block;
    padding: 30px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.75);
}
div.space{
    width: 100%;
    height: 35px;
}
div.dropdowncont{
    position: fixed;
    margin: 0;
    padding: 0;
    display: none;
}
div.dropdowncont a{
    padding: 10px 10px 10px 10px;
    min-width: 75px;
    display: block;
}
div.dropdowncont a:hover{
    background: rgba(0, 64, 0, 0.75);
}
nav.dropdown{
    display: inline-block;
}
nav.dropdown:hover div.dropdowncont{
    display: block;
}
nav ul li{
    list-style: none;
    display: inline;
}
hr{ 
    background: rgba(0, 0, 0, 0) !important;
    height: 10px; 
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); 
}
button{
    min-width: 100px;
    background: transparent;
    border: double;
}
button.dropdownbtn{
    border: 0;
    background: inherit;
    display: inline;
}
button.dropdownbtn:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
}
input{
    background: transparent;
    border: double;
}
select{
    background: transparent;
    border: double;
}
ul{
    list-style-type: square;
    text-align: initial;
}

/*Link Styles*/
a:link{
    color: #00FF00;
    text-decoration: none;
}
a:visited{
    color: #008800;
}
a:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
}
a.navlink:visited{
    color: #00FF00;
}