@import url('/js/highlight/styles/gruvbox-light.css') (prefers-color-scheme: light);

@media (prefers-color-scheme: light)
{
  :root
  {
    /* Base Colors */
    --bg: #fbf1c7;
    --bg0_hard: #f9f5d7;
    --bg0_soft: #f2e5bc;
    --bg0: #fbf1c7;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;
    --fg: #3c3836;
    --fg0: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;
    --red: #cc241d;
    --highlight-red: #9d0006;
    --green: #98971a;
    --highlight-green: #79740e;
    --yellow: #d79921;
    --highlight-yellow: #b57614;
    --blue: #458588;
    --highlight-blue: #076678;
    --purple: #b16286;
    --highlight-purple: #8f3f71;
    --aqua: #689d6a;
    --highlight-aqua: #427b58;
    --gray: #7c6f54;
    --highligh-gray: #928374;
    --orange: #d65d0e;
    --highlight-orange: #af3a03;

    /* Element Colors */
    --navigation-shadow: var(--fg4);
    --navigation-text: var(--fg);
    --gutter-bg: var(--bg0_soft);
    --main-bg: var(--bg0_hard);
    --main-fg: var(--fg);
    --image-shadow: var(--fg4);
  }
}
