html
{
  height: 100%;
}

body
{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 10pt;
  background-color: var(--bg0_hard);
  color: var(--fg);
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-areas: 'nav-left nav-center nav-right'
                       'col-left col-center col-right';
  grid-template-rows: minmax(3vh, auto) minmax(100vh, auto);
}

@media only screen and (max-width: 800px) {
  body {
    grid-template-columns: 0 100% 0;
  }
}

@media only screen and (min-width: 801px) {
  body {
    grid-template-columns: 1fr 800px 1fr;
  }
}

nav.fixed
{
  user-select: none;
  font-family: 'Fira Mono';
  font-size: 10pt;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: var(--bg0_soft);
  width: 100%;
  /*min-height: 2vh;*/
  box-shadow: 0px 5px 1vw var(--navigation-shadow);
}

h1.site-title
{
  font-family: "Gothic Pixels";
  font-size: 48pt;
}

main
{
  grid-area: col-left col-center col-right;
}

nav.fixed > a:after, nav.fixed > a:hover:after, nav.fixed > a:active:after
{
  color: var(--navigation-text);
}

.center-text
{
  text-align: center;
}

.small
{
  font-size: small;
}

.xsmall
{
  font-size: x-small;
}

/*
.monospace
{
  font-family: 'Fira Mono', monospace;
}
*/

div.nav-left
{
  grid-area: nav-left;
}

div.nav-center
{
  grid-area: nav-center;
}

div.nav-right
{
  grid-area: nav-right;
}

div.left-column
{
  grid-area: col-left;
}

div.center-column
{
  grid-area: col-center;
  padding: 1vh 1vw;
}

div.right-column
{
  grid-area: col-right;
}

div.center-column, div.nav-center
{
  background-color: var(--main-bg);
  color: var(--main-fg);
}

div.right-column, div.left-column, div.nav-left, div.nav-right
{
  user-select: none;
  background-color: var(--gutter-bg);
}

@media (prefers-color-scheme: dark)
{
  div.right-column, div.left-column
  {
    background-image: url('/img/svg/signal_dark.svg');
  }
}

@media (prefers-color-scheme: light)
{
  div.right-column, div.left-column
  {
    background-image: url('/img/svg/signal_light.svg');
  }
}

/*
div.highlight
{
  font-size: 10pt;
  margin: auto;
  border: outset;
  border-color: var(--fg);
  max-width: 130ch;
  padding: 0;
  text-align: left;
  box-shadow: 5px 5px 1vw var(--image-shadow);
}
*/

code
{
  background-color: var(--gutter-bg);
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-size: 8pt;
  color: var(--fg);
  padding: 1px 5px;
  border-radius: 5px;
}

pre
{
  font-size: 10pt;
  margin: auto;
  border: outset;
  border-color: var(--fg);
  max-width: 130ch;
  padding: 0;
  text-align: left;
  box-shadow: 5px 5px 1vw var(--image-shadow);
  overflow: auto;
  margin: 0;
  padding: 0;
}

pre > code
{
  border-radius: initial;
}

a:link
{
  color: var(--highlight-blue);
  text-decoration: none;
}

a:hover, a:active
{
  color: var(--blue);
}

a:visited:hover, a:visited:active
{
  color: var(--purple);
}

a:visited
{
  color: var(--highlight-purple);
  text-decoration: none;
}

.disabled
{
  pointer-events: none;
  color: var(--fg4);
}

ul
{
  list-style: square;
}

.center-list
{
  margin: auto;
  width: 60%;
}

img {
  border: outset;
  border-color: var(--fg);
  /* padding: 0.5rem; */
  box-shadow: 5px 5px 1vw var(--image-shadow);
}

img.no-border {
  border: none;
}

img.no-shadow {
  box-shadow: none;
}

.hide
{
  display: none !important;
}

img.center, canvas.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@counter-style acm-citation
{
  system: numeric;
  symbols: '\30' '\31' '\32' '\33' '\34' '\35' '\36' '\37' '\38' '\39';
  prefix: '[';
  suffix: '] ';
}

ol.citations
{
  list-style: acm-citation;
}

.epigraph
{
  font-style: italic;
  text-align: center;
  border: outset;
  border-color: var(--fg);
  box-shadow: 5px 5px 1vw var(--image-shadow);
}
