@charset "utf8";

.amber {
	color: #FF7E00;
}

.black {
	color: #000000;
}

.cyan {
	color: #00AAAA;
}

.gray {
	color: #AAAAAA;
}

.green {
	color: #00FF00;
}

.magenta {
	color: #AA00AA;
}

.white {
	color: #FFFFFF;
}

.amber hr {
	background-color: #FF7E00;
}

.black hr {
	background-color: #000000;
}

.cyan hr {
	background-color: #00AAAA;
}

.gray hr {
	background-color: #AAAAAA;
}

.green hr {
	background-color: #00FF00;
}

.magenta hr {
	background-color: #AA00AA;
}

.white hr {
	background-color: #FFFFFF;
}