body {
    background-color: black;
}

#container {
    text-align: center;
    vertical-align: middle;
}

#container > img {
    position: absolute;
    top: 5vh;
    left: 25vw;
    height: 50%;
    width: 50%;
}

.hidden {
    display: none;
}

form {
    position: absolute;
    top: 60vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-family: sans;
    font-size: 18pt;
}

textarea {
    border: none;
    background-color: rgba(64, 64, 64, 0.25);
    width: 50%;
    padding: 0;
    resize: none;
    color: white;
}

button {
    width: 50%;
    background-color: black;
    border-style: double;
    border-color: white;
    color: white;
    font-size: 18pt;
}