@import url("/css/dracula/dracula.css");
@import url("/css/flex/flex.css");
@import url("/css/basics/navbar.css");
@import url("/css/basics/align.css");

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Source Code Pro", "DejaVu Sans Mono", monospace;
  font-size: 10pt;
  font-weight: bold;
}

.braced::before {
  content: "{ ";
}

.braced::after {
  content: " }";
}

@media all and (min-width: 1000px) {
  #column_1 {
    max-width: 33%;
  }
}

#scroll_buffer {
  height: 25rem;
}
