<footer>
  <p class="center-text xsmall">
  {{ if .IsPage }}
  &lcub;&nbsp;<a {{ if .PrevInSection }} href="{{ .PrevInSection.Permalink }}" {{ else }} class="disabled" {{ end }}>
    prev
  </a>&nbsp;&rcub;
  {{ end }}
  {{ if .Parent }}
  &nbsp;&lcub;&nbsp;<a href="{{ .Parent.Permalink }}">up</a>&nbsp;&rcub;&nbsp;
  {{ end }}
  {{ if .IsPage }}
  &lcub;&nbsp;<a {{ if .NextInSection }} href="{{ .NextInSection.Permalink }}" {{ else }} class="disabled" {{ end }}>
    next
  </a>&nbsp;&rcub;
  {{ end }}
  </p>
</footer>
