{{ define "main" }}
<main>
  <article>
    <header>
      <h2 class="center">{{ .Title }}</h2>
    </header>
    {{ .Content }}
  </article>
  {{ if .Pages }}
  <ul>
    {{ range .Pages }}
    {{ $published := .PublishDate.Format "Mon Jan _2 15:04:05 MST 2006" }}
    {{ $published_dt := .PublishDate.Format "2006-01-02T15:04:05-0700" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;(<time class="xsmall" datetime="$published_dt">{{ $published }}</time>)</li>
    <p class="small">{{ .Summary }}</p>
    {{ end }}
  </ul>
  {{ else }}
  <p class="center">Nothing yet.</p>
  {{ end }}
</main>
{{ end }}
