.flex-row {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.flex-space-evenly {
  justify-content: space-evenly;
}
