{{ define "main" }}
<main>
  <h1 class="center-text site-title">{{ .Title }}</h1>
  <article>
    <div class="center-text">{{ .Content }}</div>
  </article>
  {{ if .Sections }}
    <ul>
    {{ range .Sections }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ if le .Pages 5 }}
    <ul>
      {{ range .Pages }}
      {{ $published := .PublishDate.Format "Mon Jan _2 2006" }}
      {{ $published_dt := .PublishDate.Format "2006-01-02" }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;<span class="small">{{ .Description }}</span>&nbsp;<time class="xsmall" datetime="$published_dt">({{ $published }})</time></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
    </ul>
  {{ else if .Pages }}
  <ul>
    {{ range .Pages }}
    {{ $published := .PublishDate.Format "Mon Jan _2 2006" }}
    {{ $published_dt := .PublishDate.Format "2006-01-02" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;<span class="small">{{ .Description }}</span>&nbsp;<time class="xsmall" datetime="$published_dt">({{ $published }})</time></li>
    {{ end }}
  </ul>
  {{ else }}
  <p class="center-text">Nothing yet.</p>
  {{ end }}
</main>
{{ end }}
