html
{
  height: 100%;
}

body
{
  font-family: 'Fira Sans', sans-serif;
  background-color: var(--bg0_hard);
  color: var(--fg);
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-areas: 'nav-left nav-center nav-right'
                       'col-left col-center col-right';
  grid-template-rows: 3.5vh minmax(100vh, auto);
  grid-template-columns: 0.33fr 2.33fr 0.33fr;
}

nav.fixed
{
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: var(--bg2);
  width: 100%;
  min-height: 2vh;
  box-shadow: 0px 5px 1vw var(--navigation-shadow);
}

main
{
  grid-area: col-left col-center col-right;
}

nav.fixed > a:after, nav.fixed > a:hover:after, nav.fixed > a:active:after
{
  color: var(--navigation-text);
}

.center-text
{
  text-align: center;
}

.small
{
  font-size: small;
}

.xsmall
{
  font-size: x-small;
}

.monospace
{
  font-family: 'Fira Mono', monospace;
}

div.nav-left
{
  grid-area: nav-left;
}

div.nav-center
{
  grid-area: nav-center;
}

div.nav-right
{
  grid-area: nav-right;
}

div.left-column
{
  grid-area: col-left;
}

div.center-column
{
  grid-area: col-center;
  padding-left: 6vw;
  padding-right: 6vw;
}

div.right-column
{
  grid-area: col-right;
}

div.center-column, div.nav-center
{
  background-color: var(--main-bg);
  color: var(--main-fg);
}

div.right-column, div.left-column, div.nav-left, div.nav-right
{
  user-select: none;
  background-color: var(--gutter-bg);
}

div.highlight
{
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-weight: 400;
  font-size: 10px;
  margin: auto;
  border: double;
  border-color: var(--fg);
  max-width: 120ch;
  padding: 0;
  text-align: left;
}

code
{
  background-color: var(--gutter-bg);
  font-family: 'Fira Code', 'Fira Mono', monospace;
  font-weight: 400;
  font-size: 10pt;
  color: var(--fg);
  padding: 1px 5px;
  border-radius: 5px;
}

pre
{
  overflow: auto;
  margin: 0;
  padding: 0;
}

pre > code
{
  border-radius: initial;
}

a:link
{
  color: var(--highlight-blue);
  text-decoration: none;
}

a:hover, a:active
{
  color: var(--blue);
}

a:visited:hover, a:visited:active
{
  color: var(--purple);
}

a:visited
{
  color: var(--highlight-purple);
  text-decoration: none;
}

.disabled
{
  pointer-events: none;
  color: var(--fg4);
}

ul
{
  list-style: square;
}

.center-list
{
  margin: auto;
  width: 60%;
}
