@media (prefers-color-scheme: light) {
  :root {
    /* Base Colors */
    --bg: #fbf1c7;
    --bg0_hard: #f9f5d7;
    --bg0_soft: #f2e5bc;
    --bg0: #fbf1c7;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;
    --fg: #3c3836;
    --fg0: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;
    --red: #cc241d;
    --highlight-red: #9d0006;
    --green: #98971a;
    --highlight-green: #79740e;
    --yellow: #d79921;
    --highlight-yellow: #b57614;
    --blue: #458588;
    --highlight-blue: #076678;
    --purple: #b16286;
    --highlight-purple: #8f3f71;
    --aqua: #689d6a;
    --highlight-aqua: #427b58;
    --gray: #7c6f54;
    --highligh-gray: #928374;
    --orange: #d65d0e;
    --highlight-orange: #af3a03;

    /* Element Colors */
    --navigation-shadow: var(--fg4);
    --navigation-text: var(--fg);
    --gutter-bg: var(--bg0_soft);
    --main-bg: var(--bg0_hard);
    --main-fg: var(--fg);
    --image-shadow: var(--fg4);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base Colors */
    --bg: #282828;
    --bg0_hard: #1d2021;
    --bg0_soft: #32302f;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --fg: #ebdbb2;
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;
    --red: #cc241d;
    --highlight-red: #fb4934;
    --green: #98971a;
    --highlight-green: #b8bb26;
    --yellow: #d79921;
    --highlight-yellow: #fabd2f;
    --blue: #458588;
    --highlight-blue: #83a598;
    --purple: #b16286;
    --highlight-purple: #d3869b;
    --aqua: #689d6a;
    --highlight-aqua: #8ec07c;
    --gray: #a09984;
    --highligh-gray: #928374;
    --orange: #d65d0e;
    --highlight-orange: #fe8019;

    /* Element Colors */
    --navigation-shadow: var(--bg0_hard);
    --navigation-text: var(--fg4);
    --gutter-bg: var(--bg0);
    --main-bg: var(--bg0_soft);
    --main-fg: var(--fg4);
    --image-shadow: var(--bg0_hard);
  }
}

body {
  background-color: var(--main-bg);
  color: var(--main-fg);
}
