.center-text {
  text-align: center;
}

.small {
  font-size: 10pt;
}

.smaller {
  font-size: 8pt;
}

.monospace {
  font-family: "Fira Mono", monospace;
}

.sans-serif {
  font-family: "Fira Sans", sans-serif;
}

body {
  font-size: 12pt;
}

main {
  margin-left: 0.2in;
  margin-right: 0.2in;
}

hr {
border-color: var(--main-fg);
  background-color: var(--main-fg);
  border-style: solid;
  border-width: 2px;
}

span.nowrap {
  white-space: nowrap;
}

nav > a {
  font-size: 14pt;
}

a {
  text-decoration: none;
}

a:hover, a:visited:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

@media (prefers-color-scheme: dark)
{
  a:link {
    color: var(--highlight-orange);
  }

  a:hover, a:visited:hover {
    color: var(--highlight-orange);
  }

  a:active, a:visited:active {
    color: var(--highlight-purple);
  }

  a:visited {
    color: var(--orange);
  }
}

@media (prefers-color-scheme: light)
{
  a:link {
    color: var(--red);
  }

  a:hover, a:visited:hover {
    color: var(--red);
  }

  a:active, a:visited:active {
    color: var(--highlight-purple);
  }

  a:visited {
    color: var(--highlight-red);
  }
}

h1.backref, h2.backref, h3.backref, h4.backref, h5.backref, h6.backref {
  display: grid;
  grid-template: "heading anchor";
  grid-template-columns: minmax(auto, 1fr) auto;
  justify-content: left;
  column-gap: 1rem;
  white-space: nowrap;
}

span.backref-heading {
  grid-area: heading;
}

span.backref-anchor {
  grid-area: anchor;
  justify-content: right;
  font-family: "Fira Code", "Fira Mono", monospace;
}


a.backref {
  -webkit-user-select: none;
  user-select: none;
}

a.backref:hover, a.backref:visited:hover {
  text-decoration: none;
}

@media (prefers-color-scheme: dark)
{

  a.backref:link {
    color: var(--bg1);
  }

  a.backref:hover, a.backref:visited:hover {
    color: var(--highlight-orange);
  }

  a.backref:visited {
    color: var(--bg2);
  }

}

@media (prefers-color-scheme: light)
{

  a.backref:link {
    color: var(--bg1);
  }

  a.backref:hover, a.backref:visited:hover {
    color: var(--red);
  }

  a.backref:visited {
    color: var(--bg1);
  }

}

h1.title {
  font-size: 36pt;
}


a.icon, a.icon:hover, a.icon:active, a.icon:visited, a.icon:link {
  text-decoration: none;
}

img.icon {
  display: inline-flex;
  max-width: 14pt;
  vertical-align: middle;
  aspect-ratio: 1 / 1;
}

canvas#cube-context {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

pre {
  font-size: 10pt;
  text-align: left;
  border-color: var(--fg);
  border: outset;
  margin: auto;
  max-width: 120ch;
  white-space: pre-wrap;
}

pre code.hljs {
  padding: 0.12in;
}

pre code {
  font-weight: normal;
  background-color: inherit;
  padding: inherit;
  border-radius: inherit;
}

main {
  margin-bottom: 0.5in;
}

span.epigraph {
  display: block;
  text-align: justify;
}

span.epigraph-attribution {
  display: block;
  text-align: right;
}

ul > li {
  margin-bottom: 0.33rem;
}

dl.footnotes {
  display: grid;
  grid-template-areas: "id text";
  column-gap: 1rem;
  font-size: 9pt;
}

dl.footnotes > dt::after {
  content: ".";
}

dl.footnotes > dd {
  margin: auto;
}
