.center-text {
  text-align: center;
}

.small {
  font-size: 10pt;
}

.smaller {
  font-size: 8pt;
}

.monospace {
  font-family: "Fira Mono", monospace;
}

.sans-serif {
  font-family: "Fira Sans", sans-serif;
}

body {
  font-size: 12pt;
}

@media only screen and (max-width: 8.5in) {
  body {
    text-align: initial;
  }

  main {
    margin-left: 0.2in;
    margin-right: 0.2in;
  }
}

@media only screen and (min-width: 8.6in) {
  body {
    text-align: justify;
  }
}

hr {
  border-color: var(--main-fg);
  background-color: var(--main-fg);
  border-style: solid;
  border-width: 2px;
}

nav > a {
  font-size: 14pt;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--blue);
}

a:hover, a:visited:hover {
  color: var(--purple);
  text-decoration: underline;
  text-decoration-style: wavy;
}

a:active, a:visited:active {
  color: var(--purple-highlight);
}

a:visited {
  color: var(--aqua);
}

h1.title {
  font-size: 36pt;
}

img {
  display: block;
  border: outset;
  margin: auto;
}

canvas {
  display: block;
  margin: auto;
}

pre {
  font-size: 10pt;
  text-align: left;
  border-color: var(--fg);
  border: outset;
  margin: auto;
  max-width: 120ch;
  white-space: pre-wrap;
}

pre code.hljs {
  padding: 0.12in;
}

main {
  margin-bottom: 0.5in;
}

span.epigraph {
  display: block;
  text-align: justify;
}

span.epigraph-attribution {
  display: block;
  text-align: right;
}
