body {
  margin: 0;
}

div.grid-container {
  display: grid;
  margin: 1in 0 1in 0;
  border: 0;
  grid-template-areas: "left middle right"
                       "left middle right"
                       "left middle right";
}

@media only screen and (max-width: 8.5in) {
  div.grid-container {
    grid-template-columns: 0% 100% 0%;
  }

  div.grid-left-column, div.grid-right-column {
    display: none;
  }
}

@media only screen and (min-width: 8.51in) {
  div.grid-container {
    grid-template-columns: auto 8.5in auto;
  }
}

div.grid-left-column {
  grid-area: left;
}

div.grid-middle-column {
  grid-area: middle;
}

div.grid-right-column {
  grid-area: right;
}

div.nav-grid-container {
  margin: auto 0.5rem auto 0.5rem;
  display: grid;
  grid-template-areas: "navigation icons";
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
}

div.nav-grid-container nav {
  grid-area: navigation;
}

div.nav-grid-container nav.icons {
  grid-area: icons;
  user-select: none;
}
