{{ $enable_code := (and .Page.IsPage (eq (lower .Page.Section) "code")) }}
{{ $is_page_or_section := (or .Page.IsSection .Page.IsPage) }}
{{ $title := .Site.Title }}
{{ if $is_page_or_section }}
{{ $title = .Page.Title }}
{{ end }}
<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if .Site.Params.AuthorName }}
    <meta name="author" content="{{ .Site.Params.AuthorName }}" />
    {{ end }}
    {{ with .Keywords }}
    <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}" />
    {{ end }}
    <title>{{ .Site.Title }}{{ if $is_page_or_section }} - {{ $title }}{{ end }}</title>
    <style>
      {{ partial "css/colors.css" . | safeCSS }}
      {{ if $enable_code }}
      {{ partial "css/highlight.css" . | safeCSS }}
      {{ end }}
      {{ partial "css/fira.css" . | safeCSS }}
      {{ partial "css/fira_code.css" . | safeCSS }}
      {{ partial "css/fonts.css" . | safeCSS }}
      {{ partial "css/grid.css" . | safeCSS }}
      {{ partial "css/elements.css" . | safeCSS }}
    </style>
  </head>
  {{ if $enable_code }}
  <body onload="hljs.highlightAll();">
  {{ else }}
  <body>
  {{ end }}
    <div class="grid-container">
      <div class="left-column"></div>
      <div class="middle-column">
        <header>
          <hr />
          <h1 class="title center-text">{{ .Site.Title }}</h1>
          <nav>
            <a href="/">~</a>&nbsp;/
            {{ range .Site.Sections }}
            <a href="{{ .Permalink }}">{{ lower .Section }}</a>&nbsp;/
            {{ end }}
          </nav>
        <hr />
        </header>
        <main>
        {{ if $is_page_or_section }}<h1 class="center-text">{{ $title }}</h1>{{ else }}<br />{{ end }}
        {{ block "main" . }}{{ end }}
        </main>
        <footer>
          <hr />
          <nav class="center-text"><a href="#">top</a></nav>
          <hr />
        </footer>
      </div>
      <div class="right-column"></div>
    </div>
    {{ if $enable_code }}
    <script src="/js/highlight.min.js"></script>
    {{ end }}
  </body>
</html>
