{{ define "main" }}
{{ $show_dates := .Params.ShowDates }}
<h3 class="center-text">{{ .Description }}</h3>
<article>
  <div class="center-text">{{ .Content }}</div>
</article>
{{ if .Sections }}
<ul>
{{ range .Sections }}
<li><a href="{{ .Permalink }}">{{ .Title }}/</a>{{ if .Description }}&nbsp;-&nbsp;{{ .Description }}{{ end }}</li>
  {{ if le .Pages 5 }}
  <ul>
    {{ range .Pages }}
    {{ $published := .PublishDate.Format "Mon Jan _2 2006" }}
    {{ $published_dt := .PublishDate.Format "2006-01-02" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Description }}&nbsp;-&nbsp;{{ .Description }}{{ end }}{{ if $show_dates }}&nbsp;<time class="small" datetime="$published_dt">({{ $published }})</time>{{ end }}</li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
  </ul>
{{ end }}
{{ if .Pages }}
<ul>
  {{ range .Pages }}
  {{ if .IsPage }}
  {{ $published := .PublishDate.Format "Mon Jan _2 2006" }}
  {{ $published_dt := .PublishDate.Format "2006-01-02" }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Description }}&nbsp;-&nbsp;{{ .Description }}{{ end }}{{ if $show_dates }}&nbsp;<time class="small" datetime="$published_dt">({{ $published }})</time>{{ end }}</li>
  {{ end }}
  {{ end }}
</ul>
{{ else }}
<p class="center-text">Nothing yet.</p>
{{ end }}
{{ end }}
